<% @potential_friends.each do |user| %>
    <div>
        <span><%= user.username %></span>
        <span>Accept</span>
    </div>
<% end %>
<% @requested_friends.each do |user| %>
    <div>
        <span><%= user.username %></span>
        <span>Requested</span>
    </div>
<% end %>
<% @strangers.each do |user| %>
    <div>
        <span><%= user.username %></span>
        <%= link_to 'Send Friend Request', friend_requests_path(user), method: :post %>
    </div>
<% end %>
